[app]
name = "{{ project_name }}"
org = "{{ org }}"
description = "{{ description }}"

# [flavors]
# dev = { app-id-suffix = ".dev" }
# prod = {}

# [signing]
# keystore = "android/keystore.properties"
