[Desktop Entry]
Type=Application
Version=1.0
Name={{ title_case_name }}
Comment={{ description }}
Exec={{ project_name }}
Icon={{ desktop_identifier }}
Categories=Utility;
Terminal=false
StartupWMClass={{ project_name }}
